# Docker Hub
DOCKERHUB_USERNAME=your-dockerhub-username
DOCKERHUB_REPOSITORY=hotelis
IMAGE_TAG=latest

# App runtime
ASPNETCORE_ENVIRONMENT=Production
APP_PORT=7291

# PostgreSQL
POSTGRES_DB=roomContainer
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
