<dialog #genericModal closedby="any" aria-labelledby="popup-title" (click)="onBackdropClick($event)" (close)="onClose()">
  <div class="modal-content">
    <div class="modal-header">
      <h5 id="popup-title" class="modal-title">{{ title }}</h5>
      <button type="button" class="btn-close" aria-label="Cerrar" (click)="close()"></button>
    </div>
    <div class="modal-body">
      <p>{{ description }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>
    </div>
  </div>
</dialog>
