<div class="row">

  <div class="col-md-6">
    <label for="comboRooms" class="form-label">Seleccionar habitación</label>
    <select title="RoomSelected" id="comboRooms" class="form-select" style="margin:20px 0px" (change)="onChange()"
            [(ngModel)]="currenRoom">
      <!-- <option selected value="Seleccionar">Seleccionar</option> -->
      <option *ngFor="let item of _rooms" value="{{item.id}}">{{item.name}} - {{item.description}}</option>
    </select>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div id="carouselRoom" class="carousel slide" data-bs-ride="carousel" *ngIf="roompictures && roompictures.length; else noImage">
      <div class="carousel-indicators" *ngIf="roompictures.length > 1">
        <button *ngFor="let img of roompictures; let i = index" type="button"
                data-bs-target="#carouselRoom" [attr.data-bs-slide-to]="i"
                [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : null"
                [attr.aria-label]="'Slide ' + (i + 1)"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let img of roompictures; let i = index" [class.active]="i === 0">
          <img [src]="getImageSource(img.path)" class="d-block w-100 img-thumbnail" alt="{{name}}">
        </div>
      </div>
      <ng-container *ngIf="roompictures.length > 1">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselRoom" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselRoom" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </ng-container>
    </div>
    <ng-template #noImage>
      <img [src]="path ? getImageSource(path) : ''" class="img-thumbnail" alt="...">
    </ng-template>
  </div>
  <div class="col-md-3">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-text">
      <label>
        <b>$ {{cost.costPerHour}}</b>
      </label>
    </p>
    <div class="row">
      <label class="form-label">Fecha de reserva</label>
      <input type="date" class="form-control" [(ngModel)]="selectedDate" (change)="changeDate()" placeholder="date" [disabled]="disabledDate" />
    </div>

    <div class="row">
      <label class="form-label">Horario Disponible Entrada</label>

      <select title="selectTime" class="form-control" placeholder="Hora Entrada" [disabled]="disabledTime" [(ngModel)]="timeSelected" (change)=" SelectTime()">
        <option *ngFor="let hour of times" value="{{hour.id}}">{{hour.inTime}}</option>
      </select>

      <ng-container *ngIf="showRoomMessage">
        <br />
        <div class="alert alert-warning marginTopBottom">
          <label class="form-label">La habitación esta ocupada todo el día</label>
        </div>
      </ng-container>
      <ng-container *ngIf="CheckTemporalAvaiabilityRoomMessage">
        <br />
        <div class="alert alert-warning marginTopBottom">
          <label class="form-label">
            Actualmente alguien habia comenzado el proceso de alquiler para esta habitacion,
            en el dia de la fecha seleccionado y horario seleccionado.
            El usuario tiene 5 minutos para terminar el proceso de pago, luego la habitacion queda liberada.
          </label>
        </div>
      </ng-container>

    </div>
    <br />
    <button class="btn btn-success" (click)="CreateBooking()" [disabled]="btnBookingDisabled">Siguiente</button>
  </div>
</div>
